<div class="container mt-5">
  <div class="alert alert-success">
    You have successfully joined the organization!
  </div>
  <%= link_to 'Back to Organizations', organizations_path, class: 'btn btn-primary' %>
</div>
