<div class="container mt-5">
  <div class="alert alert-warning">
    You have left the organization.
  </div>
  <%= link_to 'Back to Organizations', organizations_path, class: 'btn btn-primary' %>
</div>
